*{
	font-family: Montserrat;
}
.mt-7{
	margin-top: 8rem !important;
}
.mb-7{
	margin-bottom: 8rem !important;
}
.pt-6{
	padding-top: 7rem !important;
}
.title{
	font-size:60px;
}
.txt-small{
	font-size:14px;
}
.custom-content{
	min-height:84vh;
}
.custom-footer{
	float:left;
	width:100%;
	right: 0;
	  bottom: 0;
	  left: 0;
	  z-index: 1030;
}
.page-title{
	font-size: 22px;
}